Address OpsDir Comments

From [email](https://mailarchive.ietf.org/arch/msg/tls/F7IIHkxOZmsoX4SqGi-XDWig9aA/):

    Reviewer: Giuseppe Fioccola
    Review result: Has Nits
    
    This document updates the changes in RFC 8447 and requests IANA to make changes
    to a number of TLS and DTLS registries. In particular, it updates the
    "Recommended" column in TLS registries by defining a third value "D" for items
    that are discouraged and adds a "Comment" column to the registries that do not
    already have it. This document updates several RFCs: RFC 3749, RFC 5077, RFC
    4680, RFC 5246, RFC 5705, RFC 5878, RFC 6520, RFC 7301, and RFC 8447.

    I think that the document has a well defined scope and is quite clear. However,
    I have few suggestions:

    - In the Abstract, I suggest to replace 'adds a Comments column to all active
    registries' with 'adds a Comment column to all the registries that do not
    already have it'.

    - In section 3, I suggest to replace 'The permitted values are' with 'The
    permitted values of the Recommended column are', just to avoid any confusion.

    - In the sections from 4 to 14, I suggest to add some explanation on why
    specific registries are changed to discouraged. Some insight would help the
    reader.

    - I would also add some observations on the operational and interoperability
    impacts, if any, of the changes proposed in the document.

    - Currently, the section on "IANA Considerations" simply says that the document
    is entirely about changes to TLS-related IANA registries, as per RFC 8447.
    Instead, I would put all the relevant sections on IANA requests (i.e. sections
    from 4 to 14) under an "IANA Considerations" section. In this way you can avoid
    the IANA section with no content.